<div
  id="application-sidebar"
  class="hs-overlay fixed inset-y-0 start-0 z-[60] hidden w-[260px] -translate-x-full transform border-e border-gray-200 bg-white transition-all duration-300 [--auto-close:lg] hs-overlay-open:translate-x-0 lg:bottom-0 lg:end-auto lg:block lg:translate-x-0 dark:border-neutral-700 dark:bg-neutral-800">
  <div class="px-8 pt-4">
    <a
      class="flex items-end rounded-xl text-xl font-semibold focus:opacity-80 focus:outline-none"
      href="/"
      aria-label="Preline">
      <img
        class="h-12 w-12"
        src="/images/happy-smiling-yellow-corn-face-cartoon-character-funny-cute-vegetable-sticker-color-personage-icon-isolated-on-transparent-background-healthy-organic-vegan-diet-food-generative-ai-free-png.png"
        alt="Preline" />
      <h1 class="text-neutral-700 dark:text-white">Crontastic</h1>
    </a>
  </div>

  <nav class="hs-accordion-group flex w-full flex-col flex-wrap p-6" data-hs-accordion-always-open>
    <ul class="space-y-1.5">
      {% for item in site().Menus %}
        <li>
          <a
            class="nav-link flex w-full items-center gap-x-3.5 rounded-lg px-2.5 py-2 text-sm text-neutral-700 hover:bg-gray-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300"
            href="{{ item.URL }}">
            <i class="h-4 w-4" data-lucide="{{ item.Icon }}"></i>
            {{ item.Name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>
