<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>{% block title %}Crontastic{% endblock %}</title>
    {{ vite('resources/assets/js/app.js') | safe }}
    {% block head %}
    {% endblock %}
  </head>
  <body class="bg-white text-neutral-700 dark:bg-neutral-900 dark:text-neutral-300">
    {% include "partials/header.html" %}
    {% include "partials/breadcrumb.html" %}
    {% include "partials/sidebar.html" %}
    <div class="w-full lg:ps-64">
      <div class="space-y-4 p-4 sm:space-y-6 sm:p-6">{% block content %}{% endblock %}</div>
    </div>
    {% block body %}{% endblock %}
  </body>
</html>
